{% extends 'base.html' %}
{% block content %}

<head>
    <title>Buscar Reportes</title>
</head>
<body>
    <h1>Buscar Reportes</h1>
    <form method="GET" action="{% url 'buscar_reportes' %}">
        <div>
            {{ form.id_estudiante.label_tag }}<br>
            {{ form.id_estudiante }}
        </div>
        <div>
            {{ form.fecha_emision.label_tag }}<br>
            {{ form.fecha_emision }}
        </div>
        <div>
            {{ form.concepto_pago.label_tag }}<br>
            {{ form.concepto_pago }}
        </div>
        <button type="submit">Buscar</button>
    </form>

    {% if reportes %}
    <h2>Resultados</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID Reporte</th>
                <th>ID Estudiante</th>
                <th>Fecha Emisión</th>
                <th>Concepto Pago</th>
                <th>Valor Pago</th>
                <th>Pagado</th>
                <th>Saldo Pendiente</th>
            </tr>
        </thead>
        <tbody>
            {% for reporte in reportes %}
            <tr>
                <td>{{ reporte.id }}</td>
                <td>{{ reporte.id_estudiante }}</td>
                <td>{{ reporte.fecha_emision }}</td>
                <td>{{ reporte.concepto_pago }}</td>
                <td>{{ reporte.valor_pago }}</td>
                <td>{{ reporte.pagado }}</td>
                <td>{{ reporte.saldo_pendiente }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'generar_pdf' id_estudiante=form.cleaned_data.id_estudiante fecha_emision=form.cleaned_data.fecha_emision concepto_pago=form.cleaned_data.concepto_pago %}">Descargar PDF</a>
    {% endif %}
</body>


{% endblock %}